/* Source Code Pro for cmu15-445 bustub/bpt-printer */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts.gstatic.com/HI_jiYsKILxRpg3hIP6sJ7fM7PqlOPHYvDP_W9O7GQTTbI1rSQ.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts.gstatic.com/HI_jiYsKILxRpg3hIP6sJ7fM7PqlOPHYvDP_W9O7GQTTi4prSQ.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts.gstatic.com/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQhM4.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts.gstatic.com/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DCuXhM4.ttf') format('truetype');
}
