/* Crimson Text - from Google Fonts */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts.gstatic.com/crimson-text-400.ttf') format('truetype');
}
