html {
    scroll-behavior: smooth;
}
body {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background: linear-gradient(0deg, #101010, #1f3547);
  color: #0d0d0d;
}
main {
    margin-top: 3rem;
}
main.page {
/*     margin-top: 7rem; */
}
pre, code {
    background-color: #e6e7e8 !important;
}

.footer {
  border-top: 1px solid var(--alchemy-border);
}
footer img {
    max-width: 175px;
    clear: both;
}
.content h1 {
    font-weight: 800;
    border-bottom: 5px solid #dee2e6;
}
.content h2 {
    font-weight: 600;
    border-bottom: 3px dotted #dee2e6;
}
h1.page-header {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
}
.banner-title h1 {
  font-size: 7rem;
  line-height: 0.9em;
  font-family: "Pirata One", system-ui;
  font-weight: 400;
}
h1.page-header {
    font-family: "Pirata One", system-ui;
    font-weight: 900;
/*     letter-spacing: 0.1em; */
    font-size: 3.8rem;
    border-bottom: 0px;
}

a {
    color: #C41230;
}
a:hover {
    color: #8D0D24;
}
strong, b, dt {
    font-weight: 600;
}
.navbar-brand {
    font-weight: 600;
}
.navbar-inner .navbar-brand:hover {
    color: #fff;
}
.navbar-nav .nav-link {
  font-weight: 500;
}
.navbar-nav .nav-link.active {
  font-weight: 700;
}
.bg-light {
    background-color: #f3f4f5 !important;
}

.accordion-button {
  font-size: 1.25rem;
}
.accordion-button:not(.collapsed) {
  color: white !important;
  background-color: black !important;
}
.accordion-collapse {
  background-color: #e6e7e8;
}

a.filepath {
    text-decoration: none;
    font-size: 95%;
}
a.filepath tt {
    border-bottom: 1px dotted;
}

.banner{
/*     padding: 6em 0; */
    border-color: #C41230 !important;
    border-width: 0.8em !important;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-danger {
    background-color: #C41230 !important;
    color: white !important;
}
.bg-danger a {
    color: white !important;
}
.warning a {
    color: white !important;
}
.sponsors img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.banner-title {
    background-color: rgba(0, 0, 0, 0.3);
}


.awards img {
    max-width: 6rem;
    height: auto;
}

.published {
    font-size: 90%;
}

/*div.question {
    border-bottom: 2px #e0e1e2 dotted;
    margin-top: 2px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}*/
div.question {
    border-radius: 15px;
    background-color: #edeeef;
    padding: 1.25rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}
div.question h3::before {
    content: "𝌠 ";
}
h2.task::before {
    content: "» ";
}

/** ASSIGNMENTS PAGE **/
.assignments a {
    font-weight: 500;
}


/** COURSE PEOPLE **/
.course-personnel table {
    line-height: 1.3;
}
.personnel-photo {
/*     width: 14%; */
    text-align: center;
}
.personnel-name {
/*     width: 25%; */
}
.personnel-hours {
/*     width: 25%; */
}
.personnel-location {
/*     width: 30%; */
}
table.instructors img, table.tas img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
table.instructors img {
    max-width: 5.5rem;
}
table.tas img {
    max-width: 4.75rem;
}

/** COURSE SCHEDULE **/
tr.bg-info {
    background-color: #DFF0D8 !important;
}
.calendar-date {
    font-size: 95%;
}
.lecture-title {
    font-weight: 800;
    font-size: 110%;
    line-height: 0.8rem;
}
.calendar-activity dt {
    font-weight: 400;
}
/*.calendar-activity {
    padding-bottom: 4px;
}*/
div.pill-box {
    margin-bottom: 6px;
}
a.schedule-badge {
    border: none !important;
}
a.schedule-badge:hover {
    background: #FFFFCC;
}
.calendar-activity span.special {
    font-style: italic;
    color: #120511;
}
.calendar-video, .calendar-slides, .calendar-notes {
    text-align: center;
}
tr:target, div:target {
    background-color: #FFFFCC;
    border: 3px solid #C41230;
}
/*.table>thead>tr {
    background-color: #efeff3;
}*/
.table>thead>td {
    padding-top: 6px;
    padding-bottom: 6px;
}

.anchor {
    text-decoration: none;
    border: none !important;
    line-height: 1;
}
.anchor-icon {
    vertical-align: middle;
    visibility: hidden;
}
.calendar-date:hover .anchor-icon {
    visibility: visible;
}


@media (max-width: 1024px) {
    main.page {
        margin-top: 3rem;
    }
    .sponsors img {
      max-width: 80%;
    }
    .awards img {
        max-width: 4.5rem;
        height: auto;
    }
    .calendar-date {
        min-width: 18%;
    }
    footer img {
        max-width: 100px;
    }
    table.instructors img {
        max-width: 5.0rem;
    }
    table.tas img {
        max-width: 4.5rem;
    }

}
@media (max-width: 575px) {
    table {
        font-size: 86%;
    }
    .main-content {
      border-radius: 0 !important;
    }
    .banner-title {
      background-color: rgba(0, 0, 0, 0.6);
    }
    .calendar-activity .col-4 {
        width: 38% !important;
    }
    .calendar-activity .col-8 {
        width: 62% !important;
    }
}

.dropdown-menu li a:hover {
    color: #8D0D24;
}

.dropdown-menu-right {
   right: 0 !important;
   left: auto !important;
}

/* ````````````schedule-end``````````````` */


