<!DOCTYPE html><html lang="en-us"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <meta property="og:image" content="https://prod-discovery.edx-cdn.org/cdn-cgi/image/width=378,height=auto,quality=85,format=webp/media/course/image/3e45c431-10df-423e-9f03-fb98b713cd4a-2397c9098976.png">

        <meta property="og:title" content="36 Views - CS50's Introduction to Databases with SQL">

        <link href="../../../favicon%EF%B9%961779994634.ico" rel="icon">

        <!-- https://fonts.google.com/specimen/PT+Sans?query=PT+Sans&selection.family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700 -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

        <!-- https://getbootstrap.com/docs/ -->
        <script src="../../../assets/jquery/dist/jquery.min%EF%B9%961779994634.js"></script>
        <script src="../../../assets/bootstrap/dist/js/bootstrap.bundle.min%EF%B9%961779994634.js"></script>

        <!-- https://bootstrap-table.com/docs/getting-started/introduction/ -->
        <link href="../../../assets/bootstrap-table/dist/bootstrap-table.min%EF%B9%961779994634.css" rel="stylesheet">
        <script src="../../../assets/bootstrap-table/dist/bootstrap-table.min%EF%B9%961779994634.js"></script>
        <script src="../../../assets/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.min%EF%B9%961779994634.js"></script>

        <!-- https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use -->
        
        <link href="https://kit.fontawesome.com/a6e66aa089.css" rel="stylesheet">
        

        <!-- https://moment.github.io/luxon/ -->
        <script src="../../../assets/luxon/build/global/luxon.min%EF%B9%961779994634.js"></script>

        <!-- http://docs.mathjax.org/ -->
        <!-- http://docs.mathjax.org/en/latest/options/output/chtml.html?highlight=displayAlign#the-configuration-block -->
        <!-- https://docs.mathjax.org/en/latest/output/fonts.html -->
        <script>
            MathJax = {
                loader: {
                    paths: {
                        'mathjax-newcm': '[mathjax]/../@mathjax/mathjax-newcm-font',
                    }
                },
                output: {
                    displayAlign: 'left'
                }
            };
        </script>
        <script src="../../../assets/mathjax/tex-mml-chtml%EF%B9%961779994634.js"></script>

        <!-- https://github.com/verlok/vanilla-lazyload -->
        <script src="../../../assets/vanilla-lazyload/dist/lazyload.min%EF%B9%961779994634.js"></script>

        <!-- https://iframe-resizer.com/ -->
        <script src="../../../assets/@iframe-resizer/parent/index.umd%EF%B9%961779994634.js"></script>

        <!-- https://github.com/scratchblocks/scratchblocks/releases -->
        <script src="../../../assets/scratchblocks.min%EF%B9%961779994634.js"></script>

        <!-- https://mermaid-js.github.io/ -->
        <script src="../../../assets/mermaid/dist/mermaid.min%EF%B9%961779994634.js"></script>

        <!-- https://github.com/twitter/twemoji -->
        <script src="../../../assets/@twemoji/api/dist/twemoji.min%EF%B9%961779994634.js"></script>

        

        <link href="../../../assets/page%EF%B9%961779994634.css" rel="stylesheet">
        <script src="../../../assets/jekyll-theme-cs50%EF%B9%961779994634.js"></script>

        <script>
            window.CS50 = {
                local: {"day":"numeric","hour":"numeric","minute":"numeric","month":"long","timeZoneName":"short","weekday":"long","year":"numeric"},
                locale: "en",
                tz: "Etc/Zulu"
            };
        </script>

        <title>36 Views - CS50's Introduction to Databases with SQL</title>


    <meta property="og:description" content="Fine Wind, Clear Morning by Katsushika Hokusai Problem to Solve From 1830 to 1832, the Japanese artist Katsushika Hokusai created 36 woodblock prints...">
</head>

    <body class="invisible">

        <div class="alert fixed-top mb-0 rounded-0" data-alert="success dismissible" data-hash="0129a290f1b935ef2af9c47f24376fe8" id="alert" role="alert">
            <button aria-label="Close" class="btn-close d-none" data-bs-dismiss="alert" type="button"></button><p>Interested in <a href="../../../index.html#how-to-take-this-course">a verified certificate or transfer credit and accreditation</a>?</p>
</div>
        

        <div class="container-fluid">

            <div class="row">

                <aside class="col-lg">
 
                    <header><h1 data-id="cs50s-introduction-to-databases-with-sql"><a href="../../../index.html">CS50’s Introduction to Databases with SQL</a></h1>

<p>OpenCourseWare</p>

<p><a class="pr-1 small" href="https://cs50.harvard.edu/donate">Donate<i aria-hidden="true" class="fas fa-external-link-alt ps-2"></i></a></p>

<p class="small"><a href="https://carterzenke.me">Carter Zenke</a><br>
<a href="mailto:carter@cs50.harvard.edu">carter@cs50.harvard.edu</a>
<br>
<a class="mr-1" href="https://github.com/carterzenke"><i aria-hidden="true" class="fa-brands fa-github" title="GitHub"></i><span class="visually-hidden">GitHub</span></a>
<a class="mr-1" href="https://www.linkedin.com/in/carterzenke/"><i aria-hidden="true" class="fa-brands fa-linkedin" title="LinkedIn"></i><span class="visually-hidden">LinkedIn</span></a></p>

<p class="small"><a href="https://cs.harvard.edu/malan/">David J. Malan</a>
<br>
<a href="mailto:malan@harvard.edu">malan@harvard.edu</a>
<br>
<a class="mr-1" href="https://www.facebook.com/dmalan"><i aria-hidden="true" class="fa-brands fa-facebook-f" title="Facebook"></i><span class="visually-hidden">Facebook</span></a>
<a class="mr-1" href="https://github.com/dmalan"><i aria-hidden="true" class="fa-brands fa-github" title="GitHub"></i><span class="visually-hidden">GitHub</span></a>
<a class="mr-1" href="https://www.instagram.com/davidjmalan/"><i aria-hidden="true" class="fa-brands fa-instagram" title="Instagram"></i><span class="visually-hidden">Instagram</span></a>
<a class="mr-1" href="https://www.linkedin.com/in/malan/"><i aria-hidden="true" class="fa-brands fa-linkedin" title="LinkedIn"></i><span class="visually-hidden">LinkedIn</span></a>
<a class="mr-1" href="https://www.reddit.com/user/davidjmalan"><i aria-hidden="true" class="fa-brands fa-reddit-alien" title="Reddit"></i><span class="visually-hidden">Reddit</span></a>
<a class="mr-1" href="https://www.threads.net/@davidjmalan"><i aria-hidden="true" class="fa-brands fa-threads" title="Threads"></i><span class="visually-hidden">Threads</span></a>
<a class="mr-1" href="https://twitter.com/davidjmalan"><i aria-hidden="true" class="fa-brands fa-twitter" title="Twitter"></i><span class="visually-hidden">Twitter</span></a></p></header>

                    

                    <button aria-controls="nav" aria-expanded="false" class="btn btn-sm collapsed d-lg-none" data-bs-target="aside > nav" data-bs-toggle="collapse">
                        Menu
                    </button>

                    <nav class="collapse d-lg-block" id="nav"><hr>

<ul>
  <li data-marker="*"><a href="../../../../x/puzzles/index.html"><i class="fas fa-puzzle-piece pe-2"></i>CS50x Puzzle Day</a></li>
  <li data-marker="*"><a href="../../../zoom/index.html"><i class="fa-solid fa-video me-2"></i>Zoom Meetings<span class="badge ms-2 p-1 text-bg-warning">new</span></a></li>
</ul>

<!-- Tools -->
<hr class="small">

<ul class="small">
  <li data-marker="*"><a href="https://cs50.ai/"><i class="fa-solid fa-duck pe-2 text-decoration-none"></i>CS50.ai</a></li>
  <li data-marker="*">
<a href="https://cs50.edx.org/ed"><i class="fa-solid fa-comment-question pe-2 text-decoration-none"></i>Ed Discussion</a> for Q&amp;A</li>
  <li data-marker="*"><a href="https://cs50.dev/"><i class="fa-solid fa-laptop pe-2 text-decoration-none"></i>Visual Studio Code</a></li>
</ul>

<!-- Highlights -->
<hr>

<ul class="small">
  <li data-marker="*"><a href="../../../new/index.html">What’s new for 2024?</a></li>
</ul>

<!-- Course Nav -->
<hr>

<ol start="0">
  <li><a href="../../../weeks/0/index.html">Querying</a></li>
  <li><a href="../../../weeks/1/index.html">Relating</a></li>
  <li><a href="../../../weeks/2/index.html">Designing</a></li>
  <li><a href="../../../weeks/3/index.html">Writing</a></li>
  <li><a href="../../../weeks/4/index.html">Viewing</a></li>
  <li><a href="../../../weeks/5/index.html">Optimizing</a></li>
  <li><a href="../../../weeks/6/index.html">Scaling</a></li>
</ol>

<hr>

<!-- Final project spec, seminars, shorts -->
<ul>
  <li data-marker="*"><a href="../../../project/index.html">Final Project</a></li>
  <li data-marker="*">
  </li><li data-marker="*">
  </li><li data-marker="*">
</li></ul>

<!-- Items that might usually appear in an academic syllabus -->
<hr>

<ul>
  <li data-marker="*"><a href="../../../honesty/index.html">Academic Honesty</a></li>
  <li data-marker="*"><a href="../../../certificate/index.html">CS50 Certificate</a></li>
  <li data-marker="*"><a href="../../../faqs/index.html">FAQs</a></li>
  <li data-marker="*"><a href="https://cs50.me/cs50sql">Gradebook</a></li>
  <li data-marker="*"><a href="../../../staff/index.html">Staff</a></li>
  <li data-marker="*">
</li></ul>

<!-- Where to watch or take the class course -->
<hr>

<ul class="small">
  <li data-marker="*"><a href="https://apps.apple.com/us/app/cs50/id1631064453">Apple TV</a></li>
  <li data-marker="*"><a href="https://cs50.edx.org/sql">edX</a></li>
  <li data-marker="*"><a href="https://www.youtube.com/watch?v=WXk7yDqsKxs">freeCodeCamp</a></li>
  <li data-marker="*"><a href="https://play.google.com/store/apps/details?id=edu.harvard.cs50.googletv">Google TV</a></li>
  <li data-marker="*"><a href="https://web.dce.harvard.edu/extension/csci/e/151">Harvard Extension School</a></li>
  <li data-marker="*">
  </li><li data-marker="*"><a href="https://web.dce.harvard.edu/summer/csci/s/151">Harvard Summer School</a></li>
  <li data-marker="*"><a href="https://channelstore.roku.com/details/e338f60adfb133abc19eac2da9e5c505:40cee2a1909355bc4496086c8fa4a86f/cs50">Roku <span class="badge ms-2 p-1 text-bg-warning">new</span></a></li>
  <li data-marker="*"><a href="https://www.youtube.com/playlist?list=PLhQjrBD2T382v1MBjNOhPu9SiJ1fsD4C0">YouTube</a></li>
</ul>

<!-- Manual page, style guide, other docs -->

<!-- Status Page -->
<hr>

<ul class="small">
  <li data-marker="*"><a href="https://cs50.statuspage.io/">Status Page</a></li>
</ul>

<!-- Communities -->
<hr>

<ul>
  <li data-marker="*"><a href="../../../communities/index.html"><strong>Communities</strong></a></li>
  <li data-marker="*" class="small"><a href="https://bsky.app/profile/cs50.harvard.edu">Bluesky</a></li>
  <li data-marker="*" class="small"><a href="https://www.clubhouse.com/club/cs50">Clubhouse</a></li>
  <li data-marker="*" class="small">
<a href="https://discord.gg/cs50">Discord</a> <span class="badge bg-light ms-1 py-1 rounded-pill text-dark">Q&amp;A</span>
</li>
  <li data-marker="*" class="small">
<a href="https://cs50.edx.org/ed">Ed</a> <span class="badge bg-light ms-1 py-1 rounded-pill text-dark">Q&amp;A</span>
</li>
  <li data-marker="*" class="small">
<a href="https://www.facebook.com/groups/cs50/">Facebook Group</a> <span class="badge bg-light ms-1 py-1 rounded-pill text-dark">Q&amp;A</span>
</li>
  <li data-marker="*" class="small"><a href="https://www.facebook.com/cs50/">Facebook Page</a></li>
  <li data-marker="*" class="small"><a href="https://github.com/cs50">GitHub</a></li>
  <li data-marker="*" class="small">
<a href="https://gitter.im/cs50/x">Gitter</a> <span class="badge bg-light ms-1 py-1 rounded-pill text-dark">Q&amp;A</span>
</li>
  <li data-marker="*" class="small"><a href="https://instagram.com/cs50">Instagram</a></li>
  <li data-marker="*" class="small"><a href="https://www.linkedin.com/groups/7437240/">LinkedIn Group</a></li>
  <li data-marker="*" class="small"><a href="https://www.linkedin.com/school/CS50/">LinkedIn Page</a></li>
  <li data-marker="*" class="small"><a href="https://cs50.medium.com/">Medium</a></li>
  <li data-marker="*" class="small"><a href="https://www.quora.com/topic/CS50">Quora</a></li>
  <li data-marker="*" class="small">
<a href="https://www.reddit.com/r/cs50/">Reddit</a> <span class="badge bg-light ms-1 py-1 rounded-pill text-dark">Q&amp;A</span>
</li>
  <li data-marker="*" class="small">
<a href="https://cs50.edx.org/slack">Slack</a> <span class="badge bg-light ms-1 py-1 rounded-pill text-dark">Q&amp;A</span>
</li>
  <li data-marker="*" class="small"><a href="https://www.snapchat.com/add/cs50">Snapchat</a></li>
  <li data-marker="*" class="small"><a href="https://soundcloud.com/cs50">SoundCloud</a></li>
  <li data-marker="*" class="small">
<a href="https://cs50.stackexchange.com/">Stack Exchange</a> <span class="badge bg-light ms-1 py-1 rounded-pill text-dark">Q&amp;A</span>
</li>
  <li data-marker="*" class="small"><a href="https://t.me/cs50x">Telegram</a></li>
  <li data-marker="*" class="small"><a href="https://www.tiktok.com/@cs50">TikTok</a></li>
  <li data-marker="*" class="small"><a href="https://www.threads.net/@cs50">Threads</a></li>
  <li data-marker="*" class="small"><a href="https://x.com/cs50">X Account</a></li>
  <li data-marker="*" class="small"><a href="https://x.com/i/communities/1722308663522594923">X Community</a></li>
  <li data-marker="*" class="small"><a href="https://www.youtube.com/subscription_center?add_user=cs50tv">YouTube</a></li>
</ul>

<!-- Courses -->
<hr>

<ul>
  <li data-marker="*"><a href="../../../courses/index.html"><strong>Courses</strong></a></li>
  <li data-marker="*" class="small"><a href="../../../../x/index.html">CS50x</a></li>
  <li data-marker="*" class="small"><a href="../../../../games/index.html">CS50 2D</a></li>
  <li data-marker="*" class="small"><a href="../../../../ai/index.html">CS50 AI</a></li>
  <li data-marker="*" class="small"><a href="../../../../business/index.html">CS50 Business</a></li>
  <li data-marker="*" class="small"><a href="../../../../cybersecurity/index.html">CS50 Cybersecurity</a></li>
  <li data-marker="*" class="small"><a href="../../../../law/index.html">CS50 for Lawyers</a></li>
  <li data-marker="*" class="small"><a href="../../../../python/index.html">CS50 Python</a></li>
  <li data-marker="*" class="small"><a href="../../../../r/index.html">CS50 R</a></li>
  <li data-marker="*" class="small"><a href="../../../../scratch/index.html">CS50 Scratch</a></li>
  <li data-marker="*" class="small"><a href="../../../index.html">CS50 SQL</a></li>
  <li data-marker="*" class="small"><a href="../../../../web/index.html">CS50 Web</a></li>
</ul>

<!-- Harvard Shop -->
<hr>

<p><a href="https://cs50.harvardshop.com/"><img src="../../../../x/2023/assets/shop.png" alt="Harvard Shop"></a></p>

<!-- Legal -->
<hr>

<p><a href="../../../license/index.html" class="small"><i class="fab fa-creative-commons me-1"></i>License</a></p></nav>

                    <footer></footer>

                </aside>

                <main class="col-lg">

                    <h1 id="36-views">36 Views</h1>

<p><img src="2.jpeg" alt="Fine Wind, Clear Morning"><br>
<em>Fine Wind, Clear Morning by Katsushika Hokusai</em></p>

<h2 id="problem-to-solve">Problem to Solve</h2>

<p>From 1830 to 1832, the Japanese artist Katsushika Hokusai created <a href="https://en.wikipedia.org/wiki/Thirty-six_Views_of_Mount_Fuji">36 woodblock prints</a> depicting 36 different views of <a href="https://en.wikipedia.org/wiki/Mount_Fuji">Mount Fuji</a>, a volcano on the <a href="https://en.wikipedia.org/wiki/Honshu">Honshū island</a> of Japan. Among the series’ most famous works are <a href="https://en.wikipedia.org/wiki/Fine_Wind,_Clear_Morning"><em>Fine Wind, Clear Morning</em></a> and <a href="https://en.wikipedia.org/wiki/The_Great_Wave_off_Kanagawa"><em>The Great Wave off Kanagawa</em></a>. The prints became so influential that another Japanese artist of the time period—Utagawa Hiroshige—created <a href="https://en.wikipedia.org/wiki/Thirty-six_Views_of_Mount_Fuji_(Hiroshige)">his own series of 36 prints</a>, each depicting a new view of Fuji.</p>

<p>In <code class="language-plaintext highlighter-rouge">views.db</code>, you’ll find details on the 36 prints created, respectively, by Hokusai and Hiroshige. In total, you’ll have data on 72 prints. Prints like these tend to be appreciated for their aesthetics, not their statistics, but computer science now helps create additional <em>numeric</em> insights about artwork. In addition to each print’s title and author, you’ll find some statistics commonly used in <a href="https://en.wikipedia.org/wiki/Computer_vision">computational image analysis</a>: the print’s <em>average color</em>, its <em>brightness</em>, its <em>contrast</em>, and its <em>entropy</em>. In the accompanying <code class="language-plaintext highlighter-rouge">.sql</code> files, write SQL queries to answer questions about this database of 72 prints and the statistics about their composition.</p>

<details><summary>Curious about average color, brightness, contrast, or entropy?</summary><ul>
  <li data-marker="*">
<em>Average color</em> is the color created by summing the values for the red, green, and blue channels in each pixel, then dividing each sum by the number of pixels in the image.</li>
  <li data-marker="*">
<em>Brightness</em> is defined as an image’s lightness or darkness, on a scale of 0 to 1. A white image would measure a 1, while a black image would measure a 0.</li>
  <li data-marker="*">
<em>Contrast</em> is defined as the extent to which an image has <em>differences</em> in brightness throughout, on a scale of 0 to 1. Higher contrast (higher differences in brightness) enable objects to stand out. Lower contrast (lower differences in brightness) means objects don’t stand out as much.</li>
  <li data-marker="*">
<a href="https://en.wikipedia.org/wiki/Entropy_(information_theory)"><em>Entropy</em></a> is a measure of an image’s randomness, often used to characterize the complexity of artwork. A 10, for our sake, is pretty high—whereas a 0 is very low.</li>
</ul></details>

<h2 id="demo">Demo</h2>

<script async="" data-autoplay="1" data-cols="100" data-loop="1" data-rows="12" id="asciicast-4ELwM4iwnyLhzB8INgIOYRTjx" src="https://asciinema.org/a/4ELwM4iwnyLhzB8INgIOYRTjx.js"></script>

<h2 id="distribution-code">Distribution Code</h2>

<p>For this problem, you’ll need to download <code class="language-plaintext highlighter-rouge">views.db</code>, along with several <code class="language-plaintext highlighter-rouge">.sql</code> files in which you’ll write your queries.</p>

<details><summary>Download the distribution code</summary><p>Log into <a href="https://cs50.dev/">cs50.dev</a>, click on your terminal window, and execute <code class="language-plaintext highlighter-rouge">cd</code> by itself. You should find that your terminal window’s prompt resembles the below:</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$
</code></pre></div></div>

<p>Next execute</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>wget https://cdn.cs50.net/sql/2024/x/psets/0/views.zip
</code></pre></div></div>

<p>in order to download a ZIP called <code class="language-plaintext highlighter-rouge">views.zip</code> into your codespace.</p>

<p>Then execute</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>unzip views.zip
</code></pre></div></div>

<p>to create a folder called <code class="language-plaintext highlighter-rouge">views</code>. You no longer need the ZIP file, so you can execute</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>rm views.zip
</code></pre></div></div>

<p>and respond with “y” followed by Enter at the prompt to remove the ZIP file you downloaded.</p>

<p>Now type</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>cd views
</code></pre></div></div>

<p>followed by Enter to move yourself into (i.e., open) that directory. Your prompt should now resemble the below.</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>views/ $
</code></pre></div></div>

<p>If all was successful, you should execute</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>ls
</code></pre></div></div>

<p>and see a database named <code class="language-plaintext highlighter-rouge">views.db</code> alongside several <code class="language-plaintext highlighter-rouge">.sql</code> files. Executing <code class="language-plaintext highlighter-rouge">sqlite3 views.db</code> should open the database in <code class="language-plaintext highlighter-rouge">sqlite3</code>, via which you’ll execute SQL queries. If not, retrace your steps and see if you can determine where you went wrong!</p></details>

<h2 id="schema">Schema</h2>

<p>In <code class="language-plaintext highlighter-rouge">views.db</code> you’ll find a single table, <code class="language-plaintext highlighter-rouge">views</code>. In the <code class="language-plaintext highlighter-rouge">views</code> table, you’ll find the following columns:</p>

<ul>
  <li data-marker="*">
<code class="language-plaintext highlighter-rouge">id</code>, which uniquely identifies each row (print) in the table</li>
  <li data-marker="*">
<code class="language-plaintext highlighter-rouge">print_number</code>, which identifies the number of the print in either Hokusai’s or Hiroshige’s series</li>
  <li data-marker="*">
<code class="language-plaintext highlighter-rouge">english_title</code>, which is the English title of the print</li>
  <li data-marker="*">
<code class="language-plaintext highlighter-rouge">japanese_title</code>, which is the Japanese title of the print</li>
  <li data-marker="*">
<code class="language-plaintext highlighter-rouge">artist</code>, which is the last name of the print’s artist</li>
  <li data-marker="*">
<code class="language-plaintext highlighter-rouge">average_color</code>, which is the <a href="https://www.pluralsight.com/blog/tutorials/understanding-hexadecimal-colors-simple">hexadecimal representation</a> of the color found by averaging the colors of each pixel in the image</li>
  <li data-marker="*">
<code class="language-plaintext highlighter-rouge">brightness</code>, which is a number corresponding to the overall lightness or darkness of the image</li>
  <li data-marker="*">
<code class="language-plaintext highlighter-rouge">contrast</code>, which is a number representing the extent of the difference between light and dark areas of the image</li>
  <li data-marker="*">
<code class="language-plaintext highlighter-rouge">entropy</code>, which is a measure used to quantify the complexity of the artwork</li>
</ul>

<h2 id="specification">Specification</h2>

<p>For each of the following questions, you should write a single SQL query that outputs the results specified by each problem. Your response must take the form of a single SQL query. You <strong>should not</strong> assume anything about the <code class="language-plaintext highlighter-rouge">id</code>s of any particular observations: your queries should be accurate even if the <code class="language-plaintext highlighter-rouge">id</code> of any particular observation were different. Finally, each query should return only the data necessary to answer the question.</p>

<ol>
  <li>In <code class="language-plaintext highlighter-rouge">1.sql</code>, write a SQL query that a translator might take interest in: list, side by side, the Japanese title and the English title for each print. Ensure the Japanese title is the first column, followed by the English title.</li>
  <li>In <code class="language-plaintext highlighter-rouge">2.sql</code>, write a SQL query to list the average colors of prints by <em>Hokusai</em> that include “river” in the English title. (As an aside, do they have any hint of blue?)</li>
  <li>In <code class="language-plaintext highlighter-rouge">3.sql</code>, write a SQL query to count how many prints by <em>Hokusai</em> include “Fuji” in the English title. Though all of Hokusai’s prints focused on Mt. Fuji, in how many did “Fuji” make it into the title?</li>
  <li>In <code class="language-plaintext highlighter-rouge">4.sql</code>, write a SQL query to count how many prints by <em>Hiroshige</em> have English titles that refer to the “Eastern Capital”. Hiroshige’s prints were created in Japan’s “Edo period,” referencing the eastern capital city of <a href="https://en.wikipedia.org/wiki/Edo">Edo</a>, now Tokyo.</li>
  <li>In <code class="language-plaintext highlighter-rouge">5.sql</code>, write a SQL query to find the highest contrast value of prints by <em>Hokusai</em>. Name the column “Maximum Contrast”. Does Hokusai’s prints most contrasting print actually have much contrast?</li>
  <li>In <code class="language-plaintext highlighter-rouge">6.sql</code>, write a SQL query to find the average entropy of prints by <em>Hiroshige</em>, rounded to two decimal places. Call the resulting column “Hiroshige Average Entropy”.</li>
  <li>In <code class="language-plaintext highlighter-rouge">7.sql</code>, write a SQL query to list the English titles of the 5 brightest prints by <em>Hiroshige</em>, from most to least bright. Compare them to this <a href="https://en.wikipedia.org/wiki/Thirty-six_Views_of_Mount_Fuji_(Hiroshige)">list on Wikipedia</a> to see if your results match the print’s aesthetics.</li>
  <li>In <code class="language-plaintext highlighter-rouge">8.sql</code>, write a SQL query to list the English titles of the 5 prints with the least contrast by <em>Hokusai</em>, from least to highest contrast. Compare them to this <a href="https://en.wikipedia.org/wiki/Thirty-six_Views_of_Mount_Fuji">list on Wikipedia</a> to see if your results match the print’s aesthetics.</li>
  <li>In <code class="language-plaintext highlighter-rouge">9.sql</code>, write a SQL query to find the English title and artist of the print with the highest brightness.</li>
  <li>In <code class="language-plaintext highlighter-rouge">10.sql</code>, write a SQL query to answer a question of your choice about the prints. The query should:
    <ul>
      <li data-marker="*">Make use of <code class="language-plaintext highlighter-rouge">AS</code> to rename a column</li>
      <li data-marker="*">Involve at least one condition, using <code class="language-plaintext highlighter-rouge">WHERE</code>
</li>
      <li data-marker="*">Sort by at least one column, using <code class="language-plaintext highlighter-rouge">ORDER BY</code>
</li>
    </ul>
  </li>
</ol>

<h2 id="usage">Usage</h2>

<p>To test your queries as you write them in your <code class="language-plaintext highlighter-rouge">.sql</code> files, you can query the database by running</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>.read FILENAME
</code></pre></div></div>

<p>where <code class="language-plaintext highlighter-rouge">FILENAME</code> is the name of the file containing your SQL query. For example,</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>.read 1.sql
</code></pre></div></div>

<p>You can also run</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ cat FILENAME | sqlite3 views.db &gt; output.txt
</code></pre></div></div>

<p>to redirect the output of the query to a text file called <code class="language-plaintext highlighter-rouge">output.txt</code>. (This can be useful for checking how many rows are returned by your query!)</p>

<h2 id="how-to-test">How to Test</h2>

<p>While <code class="language-plaintext highlighter-rouge">check50</code> is available for this problem, you’re encouraged to instead test your code on your own for each of the following. If you’re using the <code class="language-plaintext highlighter-rouge">views.db</code> database provided in this problem’s distribution, you should find that…</p>

<ul>
  <li data-marker="*">Executing <code class="language-plaintext highlighter-rouge">1.sql</code> results in a table with 2 columns and 72 rows.</li>
  <li data-marker="*">Executing <code class="language-plaintext highlighter-rouge">2.sql</code> results in a table with 1 column and 3 rows.</li>
  <li data-marker="*">Executing <code class="language-plaintext highlighter-rouge">3.sql</code> results in a table with 1 column and 1 row.</li>
  <li data-marker="*">Executing <code class="language-plaintext highlighter-rouge">4.sql</code> results in a table with 1 column and 1 row.</li>
  <li data-marker="*">Executing <code class="language-plaintext highlighter-rouge">5.sql</code> results in a table with 1 column and 1 row.</li>
  <li data-marker="*">Executing <code class="language-plaintext highlighter-rouge">6.sql</code> results in a table with 1 column and 1 row.</li>
  <li data-marker="*">Executing <code class="language-plaintext highlighter-rouge">7.sql</code> results in a table with 1 column and 5 rows.</li>
  <li data-marker="*">Executing <code class="language-plaintext highlighter-rouge">8.sql</code> results in a table with 1 column and 5 rows.</li>
  <li data-marker="*">Executing <code class="language-plaintext highlighter-rouge">9.sql</code> results in a table with 2 columns and 1 row.</li>
</ul>

<p><code class="language-plaintext highlighter-rouge">10.sql</code> is up to you!</p>

<p>Note that row counts do not include header rows that only show column names.</p>

<h3 id="correctness">Correctness</h3>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>check50 cs50/problems/2024/sql/views
</code></pre></div></div>

<h2 id="how-to-submit">How to Submit</h2>

<p>In your terminal, execute the below to submit your work.</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>submit50 cs50/problems/2024/sql/views
</code></pre></div></div>

<h2 id="acknowledgements">Acknowledgements</h2>

<p>Images and titles of prints retrieved from <a href="https://en.wikipedia.org/wiki/Thirty-six_Views_of_Mount_Fuji">en.wikipedia.org/wiki/Thirty-six_Views_of_Mount_Fuji</a> and <a href="https://en.wikipedia.org/wiki/Thirty-six_Views_of_Mount_Fuji_(Hiroshige)">en.wikipedia.org/wiki/Thirty-six_Views_of_Mount_Fuji_(Hiroshige)</a>.</p>


                </main>

            </div>

        </div>

        
 
        <script src="../../../assets/page%EF%B9%961779994634.js"></script>

    


</body></html>